@model ATReport.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.AgencyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.AgencyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShapeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShapeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
